body {
    height: 100vh;
    width: 100vw;
    padding: 20px 10;
}

main {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: max-content repeat(2, 1fr);
    gap: 8px;
    height: 100%;
}

header {
    background: linear-gradient(to right, #3A6BC0, #261161);
    padding: 8px 0;
    text-align: center;
    color: white;
    font-size: 24px;
    border-radius: 2px;
    grid-column-start: span 2;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 8px;
    grid-row-start: span 2;
}

hr {
    border-color: black;
    width: 100%;
    gap:8px;
}

.city-search-return {
    border: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 8px;
}

.Five-Day-Forecast {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: max-content 1fr;
    grid-column-gap: 20px;
}

.day-one, .day-two, .day-three, .day-four, .day-five {
    border: none;
    background-color: #33475b;
    color: white;
    border-radius: 2px;
}

.fiveDayTitle {
    grid-column-start: span 5;
}